@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body {
    background: url('../../../public/images/background.webp');
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 30px;
    color: white;
    margin: 0;
    overflow-y: hidden;
}

h1 {
    width: 100%;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    font-size: 66px;
    font-weight: 700;
    margin-block: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    margin: 0;
    padding-block-start: 1em;
    padding-block-end: 1em;
}

li {
    list-style-type: none;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

input {
    position: relative;
    font-weight: 200;
    font-family: 'Poppins';
    font-size: 44px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 0;
    box-shadow: 5px 5px 25px rgb(6, 6, 6);
}


i:hover {
    border: solid rgb(183, 182, 182);
    border-width: 0 3px 3px 0;
}

.info_wrapper {
    box-sizing: border-box;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 3rem;
    padding: 0 40px;
    width: 100vw;
    background-color: rgba(57, 56, 56, 0.548);
}

@media (max-width: 1024px) {
    body {
        font-size: 25px;
    }

    input {
        width: 80vw;
        font-size: inherit;
    }

    .info_wrapper {
        gap: 30px;
    }
}

@media (max-width: 431px) {
    .info_wrapper {
        display: flex;
        align-items: center;
        padding: 0;
    }
}
